<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= metadata.appName %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="cleartype" content="off">
    <meta name="description" content="<%= metadata.appDescription %>">

    <% if (metadata.gAnalyticsID) { %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= metadata.gAnalyticsID %>">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '<%= metadata.gAnalyticsID %>');
    </script>
    <% } %>

    <style type="text/css">
        <%=require('assets/style.css') %>
    </style>
</head>

<body>
    <div id="game"></div>
    <div id="splash">
        <img class="splash-icon" src="<%= require('assets/icon.svg').default %>" title="<%= metadata.appName %>" />
        <span class="loading-label">Loading</span>
        <span class="loading-percent"></span>
    </div>
    <noscript>
        <div id="noscript">Enable Javascript to play this game</div>
    </noscript>
</body>

</html>
